<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Final Ödevi
    </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content>
  <swiper-container>
      <swiper-slide>
          <img src="../../assets/foto.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
          <img src="../../assets/foto2.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
          <img src="../../assets/foto3.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
          <img src="../../assets/foto4.jpg" alt="">
      </swiper-slide>
    </swiper-container>
    
    <ion-list>
      <ion-item routerLink="/modal">
        <ion-label>modal</ion-label>
      </ion-item>
      <ion-item (click)="openKonum()">
        <ion-label>location</ion-label>
      </ion-item>
      
    </ion-list>
    
    
</ion-content>

